body{
    font-family: 'Edu NSW ACT Foundation', cursive;
    margin: 0;
    background-image: url(https://img.freepik.com/premium-vector/hand-drawn-seamless-pattern-fitness-gym-equipments-doodle-sketch-style_253081-157.jpg);
}
header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(198, 234, 255);
    min-height: 100px;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 100px;
    width: 140px;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: rgb(43, 31, 216);
    font-size: 20px;
}
nav a{
    font-weight: 700;
    padding-right: 15px;
}
nav a:hover{
    color: rgb(178, 173, 255);
}
@media (max-width: 700px)
{
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px ;
    }
    
}
h1{
    font-family: 'Prompt', sans-serif;   
    font-size: 20px;
    color: white;
}
section{
    margin: 1%;
    border: double 5px rgb(35, 98, 156) ;
    background-color: rgba(8, 7, 71, 0.8);
}
section{
    margin: 3%;
    border-radius: 10px; 
    
}